@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
 
 
  
}



:root {
  
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    
    
   
   width: 100vw;
   overflow-x: hidden;

}

body{
  height: 100vh;
  background: #230731;
}

.dark{
  --bg-color:  rgb(35, 7, 49);
  --text-title-color1: #581A65;
  --text-title-color2: #7E0882;
  --btn_how-color: #591A65;

  --bg-footer: #eae9fc0d;

  --bg-task1: rgb(97, 6, 97);
  --bg-task2: rgb(99, 15, 151);
  --bg-task3: rgb(71, 19, 110);

}
.light{
  --bg-color:  #EACEF8;
  --btn_how-color: #D89AE5;
  --text-title-color1:#D799E5;
  --text-title-color2: #F37BF7;
  
  --bg-footer: #f2d9ff;
  
  
  
}

.text_free{
  background: linear-gradient(to right, var(--text-title-color1), var(--text-title-color2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fo_title{
  background: linear-gradient(to right, var(--text-title-color1), var(--text-title-color2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.landing_page{
  background: var(--bg-color);
  
}
.login_page {
  background: linear-gradient(to left, var(--bg-color1), var(--bg-color2), var(--bg-color3));
}
.register_page{
  background: linear-gradient(to left, var(--bg-color1), var(--bg-color2), var(--bg-color3));
}
.dashboard_page{
  background: linear-gradient(to left, var(--bg-color1), var(--bg-color2), var(--bg-color3));
}

.notyfication_page{
  background: linear-gradient(to left, var(--bg-color1), var(--bg-color2), var(--bg-color3));
}
 
.account_page{
  background: linear-gradient(to left, var(--bg-color1), var(--bg-color2), var(--bg-color3));
}
.footer_box{
  background: var(--bg-footer) ;
  
  
}
.social_item{
  transition: all .6s;
}
.task{
  border: 1px solid ;
  border-radius: 50em;
  border-image:  linear-gradient(to right, #DD5E89, #F7BB97) 1 ;
  
}
.btn_started{
           
  
    background: hsl(279, 65%, 74%, 30%);
    
    padding: 8px 20px;
    text-align: center;
    
    transition: 0.5s;
    background-size: 200% auto;
                
    
    border-radius:9px;
    display: block;
  

  
 
}
.link_quic{
  transition: all .6s;
}
.btn_howIt{
  background: var(--btn_how-color);
  border-radius:9px;
}
.link_quic:hover{
  color: #DD5E89;
}
.btn_howIt:hover{
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px var(--btn_how-color);
}
.btn_community{
  border-top: 1px solid #440653;
  transition: all .6s;
}
.btn_new_task{
  border-top: 1px solid #440653;
  transition: all .6s;
}
.btn_notyfication{
  border-top: 1px solid #440653;
  transition: all .6s;
}
.btn_started:hover {
 transform: translateY(-5px);
}
.btn_community:hover{
  border-color: orange;

  
}
.social_item:hover{
  transform: scale(1.1,1.1);
  color: #EAE9FC;
}

.btn_new_task:hover{
  border-color: orange;
}
        
.btn_notyfication:hover{
  border-color: orange;
}

